In [4]:
import requests
import urllib
import pandas as pd
from requests_html import HTML
from requests_html import HTMLSession

from bs4 import BeautifulSoup
import time

In [5]:
def get_source(url):
    """Return the source code for the provided URL. 
    Args: 
        url (string): URL of the page to scrape.
    Returns:
        response (object): HTTP response object from requests_html. 
    """
    time.sleep(5) # prevents captcha hopefully

    try:
        session = HTMLSession()
        response = session.get(url)
        return response

    except requests.exceptions.RequestException as e:
        print(e)

In [6]:
response = get_source("https://vhbonline.org/vhb4you/vhb-jourqual/vhb-jourqual-3/gesamtliste")
soup = BeautifulSoup(response.html.raw_html)

3548

In [22]:
table = soup.find("tbody")
table_content = [x.text.strip() for x in table.find_all("td")]

journal_titles = []
issn_numbers = []
jq3_ratings = []
in_partial_rankings = []

for i in range (0, len(table_content), 4):
    journal_titles.append(table_content[i])
    issn_numbers.append(table_content[i+1])
    jq3_ratings.append(table_content[i+2])
    in_partial_rankings.append(table_content[i+3])

In [24]:
data = {'JOURNAL': journal_titles, 
        'ISSN': issn_numbers, 
        'JQ3': jq3_ratings,  
        'IN_PARTIAL_RANKING': in_partial_rankings
       }

pd.DataFrame(data)

,JOURNAL,ISSN,JQ3,IN_PARTIAL_RANKING
0,4OR,1619-4500,C,OR
1,Abacus,0001-3072,B,"BA-FI, STEU, RECH"
2,Absatzwirtschaft,0001-3374,k.w.Z.,MARK
3,Academy of Management Annals,1941-6520,A,ABWL
4,Academy of Management Journal (AMJ),0001-4273,A+,ABWL
...,...,...,...,...
882,ZfU - Zeitschrift für Umweltpolitik & Umweltrecht,0931-0983,B,NAMA
883,ZIÖ Zeitschrift für Immobilienökonomie,1611-4051,C,ABWL
884,ZögU: Zeitschrift für öffentliche und gemeinwi...,0344-9777,C,ÖBWL
885,ZSteu: Zeitschrift für Steuern & Recht (einges...,1614-7936,k.w.Z.,STEU
886,ZWF - Zeitschrift für wirtschaftlichen Fabrikb...,0947-0085,k.R.,PROD